@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens */
:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 249; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;
  }
  body {
    @apply border-primary/10 bg-contrast text-primary/90 antialiased;
    background: #ffffff;
  }

  html {
    scroll-padding-top: 10rem;
    direction: rtl !important;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  a.active {
    @apply border-b;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }
    @apply prose mx-auto mb-12 grid justify-center font-serif text-primary;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }
  .prodect_section{
    display: flex !important;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 0 0 4rem 0 !important;
  }
  .sticky_img .swimlane{
    width: 100%;
    padding: 0.3rem;
    grid-gap: .5rem;
    gap: .5rem;
    flex-wrap: wrap;
    @media (min-width: 48em) {
      display: flex;
    }
  }
  .sticky_img .swimlane .list_img{
    width: 7.4rem;
    border: 1px solid rgba(0,0,0,0);
  }
  .sticky_img .swimlane .active{
    border-color: #0e1b4d;
  }
  .stick_service{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 170px;
    height: 1px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
  }
  .stick_service img{
    float: left;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
  }
  .fixed_img{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: #0003;
    cursor: zoom-out;
  }
  .fixed_img img{
    max-height: 100%;
  }
  .product_details{
    justify-content: center;
    @media (min-width: 48em) {
      
      .left_product{
        /* max-width: 38%; */
        
        section{
          max-width: none;
        }
      }
      .sticky_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* @media (min-width: 48em) {
          position: sticky;
          top: 2rem;
          right: 10rem;
          z-index: 2;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 40%;
          max-width: 495px;
          .swimlane {
            display:flex;
            align-items:center;
            margin-top: 15px;
            
            .list_img{
              width: 115px;
              height: 115px;
              cursor: pointer;
            }
          }
        } */
      }
    }
  }
  .comment_box{
    color: #4a547a;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* @media (min-width: 70em) {
      .comment_box_content{
        align-items: stretch !important;
        flex-direction: initial !important;
      }
      .comment_box_content .jdgm-rev-widg__sort-wrapper,
      .comment_box_content .jdgm-rev-widg__summary{
        width: 30% !important;
      }
      .comment_box_content .jdgm-histogram{
        width: 40% !important;
      }
    } */
  }
  .comment_box .jdgm-rev-widg__reviews,
  .comment_box .jdgm-paginate,
  .comment_box .comment_box_content,
  .comment_box .comment_list,
  .comment_box .comment_screen{
    width: 100%;
  }
  .comment_box .flex_center{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .comment_box .flex_center img{
    margin: 10px 0 10px 10px;
    width: 36px;
    height: 36px;
  }
  .comment_box .jdgm-rev__rating{
    display: inline-flex;
    align-items: center;
  }
  .comment_box .jdgm-rev__rating .jdgm-star img{
    display: inline;
    padding-bottom: 5px;
  }
  .comment_box .jdgm-rev{
    padding: 10px;
  }
  .comment_box .jdgm-rev .jdgm-rev__pics{
    white-space: nowrap;
    overflow: auto;
    margin-top: 10px;
  }
  .comment_box .jdgm-rev .jdgm-rev__pics .jdgm-rev__pic-link{
    position: relative;
    display: inline-block;
    width: 96px;
    height: 96px;
    padding: 0;
    margin-right: 8px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .comment_box .jdgm-rev .jdgm-rev__pics .jdgm-rev__pic-link img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 !important;
  }
  .comment_box .jdgm-rev__icon{
    display: none !important;
  }
  .comment_box .jdgm-divider-top{
    border-top: 1px solid rgba(51,153,153,0.1);
  }
  .jdgm-paginate{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  .jdgm-paginate .jdgm-paginate__page{
    margin: 0 5px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: initial;
  }
  .jdgm-paginate .jdgm-curt{
    font-weight: bold;
    cursor: default;
  }
  .comment_box .jdgm-histogram .jdgm-histogram__clear-filter{
    text-decoration: underline;
    cursor: pointer !important;
  }
  .comment_box .jdgm-histogram .jdgm-histogram__percentage,
  .comment_box .jdgm-rev-widg__title,
  .review_none{
    display: none !important;
  }
  .sticky_bottom{
    position: sticky;
    bottom: 0;
    z-index: 10;
  }
  .jq_slow {
    display: none;
    width: 100%;
  }
  .comment_box_title{
    font-size: 24px;
    margin-bottom: 24px;
  }
  .comment_box_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(51,153,153,0.1);
  }
  .comment_box .comment_screen select{
    padding: 0 20px 0 0;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-position: right 0rem center;
    font-size: 14px;
    margin: 8px 0;
  }
  .comment_box_content .jdgm-rev-widg__sort-wrapper,
  .comment_box_content .jdgm-rev-widg__summary,
  .comment_box_content .jdgm-histogram{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .comment_box_content .jdgm-rev-widg__sort-wrapper button{
    width: 100%;
    max-width: 325px;
    color: white;
    background-color: #339999;
    border: 2px solid #339999;
    margin: 0 auto;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .comment_box .jdgm-histogram .jdgm-histogram__row{
    height: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  .comment_box .jdgm-histogram .jdgm-histogram__row .jdgm-histogram__star,
  .jdgm-rev-widg__summary .jdgm-rev-widg__summary-stars{
    display: inline-flex;
    align-items: center;
  }
  .jdgm-rev-widg__summary .jdgm-rev-widg__summary-stars img{
    width: 18px;
    height: 18px;
  }
  .comment_box .jdgm-histogram .jdgm-histogram__row .jdgm-histogram__star img{
    width: 15px;
    height: 15px;
  }
  .comment_box .jdgm-histogram .jdgm-histogram__frequency{
    width: 24px;
    text-align: left;
  }
  .comment_box .jdgm-histogram .jdgm-histogram__bar{
    width: 200px;
    height: 100%;
    background: rgba(224,224,224,0.5);
    margin: 0 15px;
  }
  .comment_box .jdgm-histogram .jdgm-histogram__bar-content{
    height: 100%;
    background: #399;
  }
  .bord_sku{
    padding: 3px 10px;
    min-width: 35px;
    text-align: center;
    border-radius: 30px;
    font-size: 13px;
    color: #555;
    line-height: 16px;
    border: 1px solid #a8a8a8;
  }
  .active_sku{
    background-color: red !important;
    color: #fff !important;
    border: 1px solid red !important;
  }
  .write_review{
    padding: 10px;
  }
  .write_review,
  .write_review .write_review_li{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
  }
  .write_review .write_review_li input,
  .write_review .write_review_li textarea{
    padding: 6px 16px;
    width: 100%;
    border: 1px solid #e4e4e4;
    font-size: 13px;
  }
  .write_review .write_review_li .error_text{
    background-color: rgba(242,132,125,0.1);
    border: 1px solid #f2847d;
    margin-top: 8px;
    padding: 8px;
    line-height: 1;
    text-align: left;
    width: 100%;
  }
  .write_review .write_review_title{
    font-size: 24px;
    font-weight: bold;
  }
  .write_review .write_review_name{
    margin-bottom: 8px;
  }
  .write_review .write_review_name .write_review_select{
    padding: 0 20px 0 0;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #e4e4e4;
    background-position: right 0rem center;
    font-size: 12px;
  }
  .write_review .star_score{
    display: flex;
    align-items: center;
    direction: ltr;
  }
  .write_review .star_score .star_li{
    margin: 0 2px;
    cursor: pointer;
  }
  .write_review .star_score .star_li img{
    width: 26px;
    height: 26px;
  }
  .write_review_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .write_review_cont{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 128px;
    height: 128px;
    border: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .write_review_cont .write_review_cont_icon{
    width: 48px;
    height: 48px;
  }
  .write_review_cont input{
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
  }
  .write_review_cont img{
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .write_review_cont .delete{
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    z-index: 1;
    background: white;
    padding: 2px 4px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  .write_review_cont .delete:hover{
    background: #399;
  }
  .write_review .write_review_btn{
    margin-top: 10px;
  }
  .write_review .write_review_btn .submit{
    padding: 8px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: #339999;
    border: 2px solid #339999;
    color: white;
    margin-right: 10px;
  }
  .write_review .write_review_btn .cancel{
    padding: 8px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #339999;
    color: #339999;
  }
  .review_submit{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #339999;
    padding-top: 24px;
  }
  .review_submit_tit{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .settle_accounts{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    margin-top: -0.1rem;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 4rem;
    color: #141414E6;
    @media (min-width: 48em) {
      
      .in_list_title{
        width: 15% !important;
        font-size: 14px !important;
      }
      .in_list input,
      .in_list textarea,
      .in_list select{
        font-size: 14px !important;
      }
    }
  }
  .settle_accounts_title{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 .5rem;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #fff;
    font-size: 1rem;
    border-bottom: 1px solid #c7c7c7;
  }
  .settle_accounts_foot{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding-right: .5rem;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: #fff;
    font-size: 1rem;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
  }
  .settle_accounts_title >div,
  .settle_accounts_foot > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .settle_accounts_title .prev{
    cursor: pointer;
  }
  .settle_accounts .product_box{
    width: 100%;
    max-width: 640px;
    display: flex;
    padding: 10px;
    margin-top: 50px;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #fff;
  }
  .shadow_box{
    box-shadow: 0px 1px 3px #0000004d;
  }
  .thank_product_box{
    position: inherit !important;
    margin-top: 0 !important;
  }
  .settle_accounts .product_box img{
    width: 88px;
    height: 88px;
    transition: all .5s;
  }
  .product_box .product_title{
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product_box .product_title span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .information_in{
    margin-top: 167px;
  }
  @keyframes myfirst {
    0%   {opacity: 0.5;}
    10%  {opacity: 0.8;}
    30%  {opacity: 1;}
  }
  .error_box{
    width: 100%;
    height: 100%;
    background-color: #0003;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 13;
  }
  .error_box span{
    width: auto;
    min-width: 50px;
    padding: 15px;
    height: auto;
    line-height: 1;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    z-index: 9999;
    opacity: 1;
    transition: all .2s ease-in;
    animation: myfirst 2s;
    -moz-animation: myfirst 2s;	/* Firefox */
    -webkit-animation: myfirst 2s;	/* Safari å’Œ Chrome */
    -o-animation: myfirst 2s;	/* Opera */
  }
  .settle_accounts .order_box{
    font-size: 12px;
    padding: 10px;
    color: #545454;
    @media (min-width: 48em) {
      font-size: 14px !important;
      
      .order_list_title{
        font-size: 18px !important;
      }
      .header__heading h2{
        font-size: 22px !important;
      }
    }
  }
  .order_box .section__header{
    display: flex;
    align-items: center;
  }
  .order_box .section__header img{
    width: 48px;
    height: 48px;
    margin-left: 10px;
  }
  .order_box .section__header .header__heading h2{
    font-size: 20px;
    color: #333333;
  }
  .order_box .order_list{
    margin-top: 1em;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px;
  }
  .order_list .order_list_title{
    color: #333333;
    font-size: 16px;
  }
  .order_list .order_list_text{
    margin-top: 10px;
  }
  .order_list .customer_info .info_li{
    margin-top: 20px;
  }
  .customer_info .info_li .info_li_title{
    color: #333333;
  }
  .customer_info .info_li .info_li_text{
    margin-top: 10px;
  }
  .customer_info .info_li .info_li_text p{
    margin: 5px;
  }
  .information_in_title{
    font-size: 18px;
    height: 40px;
    margin: 10px 0;
    line-height: 40px;
    padding: 0 10px;
  }
  .information_in_list{
    padding: 0 10px;
  }
  .information_in .in_list{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .in_list .in_list_title{
    width: 20%;
    font-size: 12px;
  }
  .in_list_title span{
    color: #007d4a;
    font-weight: 600;
  }
  .in_list_title p{
    color: #333;
    line-height: normal;
    font-weight: 600;
    word-break: break-word;
  }
  .in_list input,
  .in_list textarea,
  .in_list select{
    flex: 1;
    padding: 0 0.75rem 0 0.75rem !important;
    height: calc(1.5em + 0.75rem + 10px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 12px;
  }
  .payment_method{
    padding: 0 10px;
  }
  .settle_accounts .order_tips{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
  }
  .settle_accounts .order_tips span{
    color: #212529;
  }
  .settle_accounts .order_tips p{
    color: #333333;
    margin-top: 10px;
    font-weight: 600;
  }
  .payment_method_check{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .payment_method_check >div{
    display: flex;
    align-items: center;
  }
  .payment_method_check p{
    margin-right: 10px;
  }
  .payment_method_check img{
    width: 50px;
  }
  .description{
    color: #999;
    padding-bottom: 8px;
    padding-left: 35px;
    font-size: 12px;
  }
  select {
    background-position: left .5rem center;
  }
  .in_list input::placeholder {
    color: #ced4da;
  }
  .border-primary\/50{
    border-color: #14141480 !important;
  }
  .text-contrast{
    background-color: #FF0000 !important; 
    color: #f3f3f2 !important;
  }

  .swimlane {
    @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start gap-4 overflow-x-scroll px-6 pb-4;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative flex items-center justify-center overflow-clip rounded;
    &::before {
      content: ' ';
      @apply absolute top-0 left-0 z-10 block h-full w-full rounded shadow-border;
    }
    img {
      @apply aspect-[inherit] w-full object-cover;
    }
  }
}
